.vscode/
google_colab_shortcuts.csv
testing.ipynb
.ipynb_checkpoints/Untitled-checkpoint.ipynb
Life-Expectancy-and-GDP-Code-Solution/
/Life-Expectancy-and-GDP-Starter/.ipynb_checkpoints/life_expectancy_gdp-checkpoint.ipynb
/Life-Expectancy-and-GDP-Starter/.ipynb_checkpoints/all_data-checkpoint.csv
